.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    padding: 4% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.icon {
    padding: 6% 5%;
    width: 13%;
    height: 13%;
    background-color: #e8eaf6;
    border-radius: 16px;
}

.desc {
    color: #546e7a;
}

