.bg-home {
    background-image: url("https://cdn.pixabay.com/photo/2017/06/09/22/56/lady-justice-2388500_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-home {
    font-weight: 300;
    font-size: 5rem;
}